.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #9BABB8;
    padding: 20px;
    color: white;
    
}
.header p {
    
    font-size: 24px; 
    font-family: cursive;
    margin-bottom: 15px;
}

.opciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

.opciones p {
    color: black;
    text-decoration: none;
    padding: 8px 12px;
    background-color: #C4DFDF;
    font-family: cursive;
    border-radius: 4px;
    font-size: 1rem;
}
.opciones p:hover {
    background-color: #E3F4F4;
}

.botomgit {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    background-color: #C0DBEA;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    font-size: 1rem;
}

.botomgit:hover {
    background-color: #CDF0EA;
}
.placa-contenedor {
    width: 1000px;
    height: 1000px;
    padding: 20px; 
    margin-top: 20px;
    border: 10px solid black;

    display: grid;
    grid-template-columns: repeat(40 , 1fr);
    grid-template-rows: repeat(40 , 1fr);
}
.placa-contenedor img {
    grid-column: 1/41;
    grid-row: 1/41;
    max-width: 100%; 
    height: auto; 
    border: 2px solid #333; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.bandera {
    display: none;
}

.elemento-placa:hover .bandera {
    display: block;
    background-color: rgba(0, 0, 0, 0.699);
}

/* TODOS LOS COMPONENTES */  
.Socket{
    grid-column: 18/25;
    grid-row: 13/20;
    color: white;
    text-align: center;
    font-family: cursive;
    align-items: center;
    align-content: center;
}
.Ranuras{
    grid-column: 10/14;
    grid-row:5/25;
    color: white;
    text-align: center;
    font-family: cursive;
    align-items: center;
    align-content: center;
}
.Puertoss{
    grid-column: 10/26;
    grid-row: 26/28;
    color: white;
    text-align: center;
    font-family: cursive;
    align-items: center;
    align-content: center;
}
.ConectoresS{
    grid-column: 3/6;
    grid-row: 35/37;
    color: white;
    text-align: center;
    font-family: cursive;
    align-items: center;
    align-content: center;
}
.Chip{
    grid-column: 20/23;
    grid-row: 29/31;
    color: white;
    text-align: center;
    font-family: cursive;
    align-items: center;
    align-content: center;
}
.Puertos{
    grid-column: 2/6;
    grid-row: 21/24;
    color: white;
    text-align: center;
    font-family: cursive;
    align-items: center;
    align-content: center;
}
.Conectores{
    grid-column: 10/18;
    grid-row: 38/39;
    color: white;
    text-align: center;
    font-family: cursive;
    align-items: center;
    align-content: center;
}
.Chipset{
    grid-column: 27/35;
    grid-row: 26/36; color: white;
    text-align: center;
    font-family: cursive;
    align-items: center;
    align-content: center;
}